@import "tailwindcss";

:root {
  /* Width, Haight */
  --width1: calc(100vw - var(--width2) - var(--width3));
  --width2: calc(15vw + 50px);
  --width3: calc(30vw + 80px);
  --height1: 55vh;
  --height2: 45vh;

  /* Color */
  --col1: hsl(126, 100%, 35%);
  --col2: hsl(126, 100%, 21%); /* #00690A */
}

/* Input */
textarea:focus,
.inputText:focus {
  outline: medium solid var(--col2);
}

/* Hover */
.hover {
  transition: color 0.15s;
}
.hover:hover {
  color: #a1a1aa; /* zinc-400 */
}
