@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Width, Haight */
  --width1: calc(100vw - var(--width2) - var(--width3));
  --width2: calc(15vw + 50px);
  --width3: calc(30vw + 80px);
  --height1: 55vh;
  --height2: 45vh;

  /* Color */
  --col1: hsl(126, 100%, 35%);
  --col2: hsl(126, 100%, 21%); /* #00690A */
}

* {
  border: 0;
  color: white;
  background-color: black;
}

/* Input */
.inputText {
  height: 100%;
  padding-top: 1px;
  border-bottom: 1px solid #a1a1aa; /* zinc-400 */
}

textarea:focus,
.inputText:focus {
  outline: medium solid var(--col2);
}

.checkbox {
  accent-color: var(--col1);
  margin: auto auto auto 0;
  height: calc(100% - 6px);
  aspect-ratio: 1;
}

/* Hover */
.hover {
  transition: color 0.15s;
}
.hover:hover {
  color: #a1a1aa; /* zinc-400 */
}

/* width */
.w100p-12 {
  width: calc(100% - 12px);
}

/*
  TAILWIND 4
*/

.z-1 {
  z-index: 1;
}
.w-\(--width1\) {
  width: var(--width1);
}
.w-\(--width2\) {
  width: var(--width2);
}
.w-\(--width3\) {
  width: var(--width3);
}
.h-\(--height1\) {
  height: var(--height1);
}
.h-\(--height2\) {
  height: var(--height2);
}
.border-x-1 {
  border-left-width: 1px;
  border-right-width: 1px;
}
.border-r-1 {
  border-right-width: 1px;
}
.border-l-1 {
  border-left-width: 1px;
}
.border-b-1 {
  border-bottom-width: 1px;
}
.text-\(--col1\) {
  color: var(--col1);
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.select-none {
  user-select: none;
}
