@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Width, Haight */
  --width1: calc(100vw - var(--width2) - var(--width3));
  --width2: calc(15vw + 50px);
  --width3: calc(30vw + 80px);
  --height1: 55vh;
  --height2: 45vh;

  /* Color */
  --c2: hsl(0, 0%, 65%);
  --c2s: hsl(0, 0%, 42.25%);
  --c3: hsl(126, 100%, 35%);
  --c3s: hsl(126, 100%, 21%); /* #00690A */
}

* {
  border: 0;
  box-sizing: border-box;
  color: white;
  background-color: black;
}

/* Input */
.inputText {
  height: 100%;
  padding-top: 1px;
  border-bottom: 1px solid var(--c2);
}

textarea:focus,
.inputText:focus {
  outline: medium solid var(--c3s);
}

.checkbox {
  cursor: pointer;
  accent-color: var(--c3);
  margin: auto auto auto 0;
  height: calc(100% - 6px);
  aspect-ratio: 1;
}

/* Editor */
.docs,
.hierarchy,
.files,
.inspector {
  grid-template-rows: 24px auto;
}

.docs {
  width: var(--width1);
}

.hierarchy {
  width: var(--width2);
  height: var(--height1);
}

.files {
  width: var(--width2);
  height: var(--height2);
}

.inspector {
  width: var(--width3);
}

/* Hover */
.hover {
  transition: color 0.15s;
}
.hover:hover {
  color: var(--c2);
}

/* width */
.w100p-12 {
  width: calc(100% - 12px);
}

/* border */
.b_c2 {
  border: 4px solid var(--c2);
}
.brl1_c2 {
  border-right: 1px solid var(--c2);
  border-left: 1px solid var(--c2);
}
.bb1_aaa {
  border-bottom: 1px solid #aaa;
}
.bb2_111 {
  border-bottom: 2px solid #111;
}
.bl4_333 {
  border-left: 4px solid #333;
}

/* color */
.c3 {
  color: var(--c3);
}

/*
  TAILWIND 4
*/

.z-1 {
  z-index: 1;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.border-r-1 {
  border-right-width: 1px;
}
.border-l-1 {
  border-left-width: 1px;
}
.border-b-1 {
  border-bottom-width: 1px;
}
.select-none {
  user-select: none;
}
