/* InspectorSection */
.InspectorSection {
  padding-bottom: 8px;
  border-bottom: 2px #111 solid;
  margin: 16px 0 0 12px;
}
.InspectorSection :first-child {
  display: flex;
}
.InspectorSection :first-child h1 {
  margin-bottom: 6px;
  border-left: 5px solid #333;
  padding-left: 6px;
}
.InspectorSection .InspectorSectionRemove {
  margin-bottom: 5px;
  font-size: 16px;
  margin: auto 16px auto auto;
  background-color: black;
}

/* TypeInput */
.TypeInput {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  width: calc(100% - 12px);
}
.TypeInput :first-child {
  display: flex;
  gap: 12px;
}
.TypeInput :first-child :nth-child(2) {
  color: var(--c3);
}
