/* ContextMenu */
.ContextMenu {
  position: absolute;
  z-index: 1;
  width: 200px;
  background-color: #333;
  border: 3px solid #333;
}
.ContextMenu * {
  cursor: pointer;
}

/* DragData */
.DragData {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

/* LoadData */
.LoadData {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.LoadData * {
  padding: 20px 50px;
  border: 4px solid var(--c2);
  margin: 30px auto;
  font-size: 54px;
  width: 500px;
}

/* NameInput */
.NameInput {
  position: absolute;
  inset: 50vh auto auto 50vw;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

/* Test */
.Test {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.Test :last-child {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: #111;
}
.Test :last-child iframe {
  border-right: 1px solid var(--c2);
  border-left: 1px solid var(--c2);
}
