:root {
  --hierarchy-width: calc(15vw + 50px);
  --inspector-width: calc(30vw + 50px);
  --hierarchy-height: 55vh;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

* {
  color: white;
  background-color: black;
}

/* Input */
input {
  background-color: #222;
  border: 2px solid black;
  padding: 0px 0px 0px 4px;
}

input[type="button"] {
  cursor: pointer;
}

label {
  cursor: pointer;
  position: relative;
}

label:before {
  border-radius: 3px;
  content: "";
  display: inline-block;

  height: calc(100% - 2px);
  aspect-ratio: 1;

  margin: 2px;
  position: absolute;
  right: 0;
  background-color: #333;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: white;
  text-align: center;
}

/* Main */
main {
  display: grid;
  grid-template-columns: 65fr 15fr auto;
  grid-template-rows: 55vh auto;
  gap: 1px;
  background-color: #aaa;
  width: 100vw;
  height: 100vh;
}

/* Header */
.header {
  border-bottom: 2px solid #aaa;
}

.header * {
  padding-left: 8px;
}

/* Editor */
.scene,
.hierarchy,
.files,
.inspector {
  display: grid;
  grid-template-rows: 24px auto;
}

.scene {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  width: calc(100vw - var(--hierarchy-width) - var(--inspector-width));
  height: 100vh;
}

.hierarchy {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  width: var(--hierarchy-width);
  height: var(--hierarchy-height);
}

.files {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  width: var(--hierarchy-width);
  height: calc(100vh - var(--hierarchy-height));
}

.inspector {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
  width: var(--inspector-width);
  height: 100vh;
}
