:root {
  --width2: calc(15vw + 50px);
  --width3: calc(30vw + 60px);
  --width1: calc(100vw - var(--width2) - var(--width3) - 2px);
  --height1: 55vh;
  --height2: calc(100vh - var(--height1) - 1px);
}

* {
  color: white;
  background-color: black;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

/* Input */
input {
  background-color: #222;
  border: 2px solid black;
  padding: 0 0 0 4px;
}

input[type="button"] {
  cursor: pointer;
}

label {
  cursor: pointer;
  position: relative;
}

label:before {
  border-radius: 3px;
  content: "";
  display: inline-block;

  height: calc(100% - 2px);
  aspect-ratio: 1;

  margin: 2px;
  position: absolute;
  right: 0;
  background-color: #333;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: white;
  text-align: center;
}

/* Main */
main {
  display: grid;
  grid-template-areas:
    "a b d"
    "a c d";
  width: 100vw;
  height: 100vh;
}

/* Header */
.header {
  display: flex;
  border-bottom: 2px solid #aaa;
  padding: 0 8px;
}

/* Editor */
.scene,
.hierarchy,
.files,
.inspector {
  display: grid;
  grid-template-rows: 24px auto;
}

.scene {
  grid-area: a;
  width: var(--width1);
  height: 100vh;
  border-right: 1px #aaa solid;
}

.hierarchy {
  grid-area: b;
  width: var(--width2);
  height: var(--height1);
  border-right: 1px #aaa solid;
}

.files {
  grid-area: c;
  width: var(--width2);
  height: var(--height2);
  border-top: 1px #aaa solid;
  border-right: 1px #aaa solid;
}

.inspector {
  grid-area: d;
  width: var(--width3);
  height: 100vh;
}
