:root {
  /* Width, Haight */
  --width2: calc(15vw + 50px);
  --width3: calc(30vw + 60px);
  --width1: calc(100vw - var(--width2) - var(--width3) - 2px);
  --height1: 55vh;
  --height2: calc(100vh - var(--height1) - 1px);

  /* Color */
  --c1: hsl(0 0% 100%);
  --c2: hsl(0 0% 65%);
  --c1s: hsl(0 0% 65%);
  --c2s: hsl(0 0% 42.25%);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: black;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

/* Headers */
h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
}
h4 {
  font-size: 1rem;
  font-weight: normal;
}
h5 {
  font-size: 0.875rem;
  font-weight: normal;
  color: var(--c2);
}

/* Input */
/*

to repear!!!!!!!!
input style

*/
input:focus {
  text-decoration: none;
}

.input {
  background-color: #222;
  border: 2px solid black;
  padding: 0 0 0 4px;
}
input[type="text"] {
  border-bottom: 1px solid gray;
}

input[type="button"] {
  cursor: pointer;
}

/* Main */
main {
  display: grid;
  grid-template-areas:
    "a b d"
    "a c d";
  width: 100vw;
  height: 100vh;
}

/* Editor */
#scene,
#hierarchy,
#files,
#inspector {
  display: grid;
  grid-template-rows: 24px auto;
}

#hierarchy :last-child,
#files :last-child,
#inspector :last-child {
  overflow: scroll;
}

#scene {
  grid-area: a;
  width: var(--width1);
  height: 100vh;
  border-right: 1px #aaa solid;
}

#hierarchy {
  grid-area: b;
  width: var(--width2);
  height: var(--height1);
  border-right: 1px #aaa solid;
  user-select: none;
}

#files {
  grid-area: c;
  width: var(--width2);
  height: var(--height2);
  border-top: 1px #aaa solid;
  border-right: 1px #aaa solid;
  user-select: none;
}

#inspector {
  grid-area: d;
  width: var(--width3);
  height: 100vh;
}

/* Dropdown */
.dropdown {
  position: absolute;
  inset: 0 auto auto 0;
  cursor: pointer;
}

.dropdown:not(.content) {
  padding: 8px 8px;
}

.dropdown .content > {
  padding: 8px 12px;
  background-color: #222;
}

/* Hover */
.hover {
  transition: color 0.2s;
  cursor: pointer;
}
.hover:hover {
  color: var(--c1s);
}

.hoverShow :not(.hoverMain):not(.hoverShow) {
  display: none;
}
.hoverShow:hover :not(.hoverMain):not(.hoverShow) {
  display: block;
}

/* Common props */
.flex {
  display: flex;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.textAlign {
  text-align: center;
}
.justifySelf {
  justify-self: center;
}

/*
  Components
*/
/* Header */
.Header {
  display: flex;
  border-bottom: 1px solid #aaa;
  padding: 0 8px;
}
.Header :first-child {
  margin-right: auto;
}
.Header :not(:first-child) {
  margin: auto 8px;
  background-color: black;
  font-size: 16px;
}

/*
  UI
*/
/* ContextMenu */
.ContextMenu {
  position: absolute;
  z-index: 1;
  width: 200px;
  background-color: #333;
  border: 3px solid #333;
}
.ContextMenu * {
  cursor: pointer;
}

/* DragData */
.DragData {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

/* LoadData */
.LoadData {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.LoadData * {
  padding: 20px 50px;
  border: 4px solid gray;
  margin: 30px auto;
  font-size: 54px;
  width: 500px;
}

/* NameInput */
.NameInput {
  position: absolute;
  inset: 50vh auto auto 50vw;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

/* Test */
.Test {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.Test :last-child {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: #111;
}
.Test :last-child iframe {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

/*
  Inspector
*/
/* InspectorSection */
.InspectorSection {
  padding-bottom: 8px;
  border-bottom: 2px #111 solid;
  margin: 16px 0 0 12px;
}
.InspectorSection :first-child {
  display: flex;
}
.InspectorSection :first-child h1 {
  margin-bottom: 6px;
  border-left: 5px solid #333;
  padding-left: 6px;
}
.InspectorSection .InspectorSectionRemove {
  margin-bottom: 5px;
  font-size: 16px;
  margin: auto 16px auto auto;
  background-color: black;
}

/* TypeInput */
.TypeInput {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  width: calc(100% - 12px);
}
.TypeInput :first-child {
  display: flex;
  gap: 12px;
}
.TypeInput :first-child :nth-child(2) {
  color: green;
}

/*
  FileElement
*/
.FileElement {
  display: flex;
}
.FileElement :first-child {
  text-align: center;
  justify-self: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.2s;
}

/*
  Hierarchy
*/
/* Script */
.AddScriptContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

/* Inputs */
/* BooleanInput */
.BooleanInput {
  cursor: pointer;
  accent-color: green;
  /* !!! to do y center */
}
